######  Importing Libary

In [7]:
import pyodbc
import pandas as pd

###### Step 1: Establish the Python SQL Server Connection
The first step of setting up the Python SQL Server Integration requires you to build a connection between Python and the SQL server using the pyodbc.connect function and pass a connection string. The Python MsSQL Connection string will define the DBMS Driver, connection settings, the Server, and a specific Database.

In [4]:
#pyodbc.connect('DRIVER={SQL Server Native Client 11.0};Server = DESKTOP-VG0BM76;Databse = CustomerWareHouse' )

cnxn_str = ("Driver={SQL Server Native Client 11.0};"
            "Server=DESKTOP-VG0BM76;"
            "Database=CustomerWareHouse;"
            "Trusted_Connection=yes;")
cnxn = pyodbc.connect(cnxn_str)

# Step 2: Run an SQL Quer
Now, every query that you will perform on the SQL Server will involve a cursor initialization and query execution sequence. Moreover, any changes made inside the SQL Server must also reflect in Python (which is covered in Step3 of Python MS SQL Server Integration).<br>
You can initialize a cursor via:

In [5]:
cursor = cnxn.cursor()

# Step 3: Extract Query Results to Python
To extract your data from SQL Server into Python, you will need the Pandas library. Pandas contain the “read_sql” function which is useful for reading data from SQL into Python. The read_sql requires a query and also the connection instance cnxn to extract the given data as follows:

In [13]:
data = pd.read_sql("SELECT * FROM Cust_Table", cnxn)
print(data)

    CustomerCode CustomerName  CustomerAmount   SalesDate CountryName  \
0           1001         Shiv            12.0  2010-01-01       India
1           1002         Raju           786.0  2012-02-02       Nepal
2           1003         ajay           400.0  2013-01-01          US
3           1004       Khadak           500.0  2014-03-03       India
4           1005         Sham           700.0  2014-10-05       Nepal
5           1006        Rahul          -100.0  2015-02-03       India
6           1007        Rohit             0.0  2015-05-04          US
7           1008       Sanjay          1240.0  2015-05-05       India
8           1009      Jignesh            12.0  2010-01-01       India
9           1010         Raju            98.0  2012-02-02       Nepal
10          1011      Rajnish           400.0  2013-01-01          US
11          1012       Sukesh           500.0  2014-03-03       India
12          1013       Pradip           700.0  2014-10-05       Nepal

    StatesName ProductName SalesPersonName
0   Maharastra       Shoes            Shiv
1    Kathmandu      Shirts            Raju
2      NewYork       Pants          Khadak
3       Punjab        Toys           Shaam
4    Kathmandu      Shirts            Shiv
5   Maharastra        Toys          Khadak
6      NewYork       Shoes            Raju
7       Punjab        Toys           Shaam
8   Maharastra      Shirts            Raja
9    Kathmandu      Shirts            Raju
10     NewYork        Toys          Khadak
11      Punjab        Toys           Shaam
12   Kathmandu      Shirts            Shiv

C:\Users\HP\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(